<div class="container">
    <div class="row justify-content-center d-block align-content-center text-center">
        <div class="col-12">
            <h1 class="lead">LogIn</h1>
            <%= render 'form' %>

        </div>
    </div>
</div>