<div class="container">
    <div class="row align-content-center text-center">
        <div class="col-12">
            <h1 class="lead">Create a new article</h1>
            <%= render 'form' %>
                <%= link_to 'back to mama' ,articles_path %>
        </div>
    </div>
</div>