<div class="container">
    <div class="row align-content-center text-center">
        <div class="col-12">
            <h1 class="lead mt-3">Edit Profile</h1>
            <%= render 'form' %>

        </div>
    </div>
</div>