<section class="bg-dark text-center py-5" id="home-container">
  <img src="https://img.icons8.com/plasticine/100/000000/whole-fish.png" />
  <figure>
    <blockquote class="blockquote text-light">
      <p>A well-known quote, contained mama rock me.</p>
    </blockquote>
    <figcaption class="blockquote-footer">
      wagon trails <cite title="Source Title">Source Title</cite>
    </figcaption>
  </figure>
  <div class="button align-items-center">
    <button type="button" class="btn btn-primary"
      style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
      <%=link_to 'Signup' ,signup_path,class:'btn'%>
    </button>
  </div>
</section>
<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <section class=" justify-content-center justify-content-lg-between p-4">
    <div class=" text-center">
      <span>Get connected with us on social networks:</span>
    </div>
  </section>
</footer>
<!-- Footer -->