<h4 class="text-center mt-4">Blogs</h4>


<div class="container-fluid">
    <% @categories.each do |category|%>

        <div class="card text-center shadow-lg bg-body rounded mb-2">

            <div class="card-body">
                <h5 class="card-title">
                    <%= link_to category.name ,category_path(category) ,class:'text-success no-underline'%>
                </h5>


                <div class="card-footer text-muted">
                    Posted <%= time_ago_in_words(category.created_at)%> and updated at about <%=
                            time_ago_in_words(category.updated_at)%>
                </div>
            </div>
        </div>

        <%end%>

</div>